*{padding:0;margin:0;list-style:none;text-decoration:none;}
.wrap ul{
    overflow:hidden;
    .lis{
        float:left;
        width:100%;
        .box{
            display:block;
            width:95%;
            margin:0 auto;
            border-bottom:1px solid #eee;
            overflow:hidden;
            padding:20px 0;
            position:relative;
            .divv{
                float:left;
                margin:10px 0 0 25px;
                .h11{color:#222;}
                .pp{color:#666;font-size:26px;width:420px;}
                .spann{font-size:26px;color:#999;}
                .imgg{width:124px;height:180px;}
            }
            .bb{float:right;color:#FFB400;margin:15px 15px 0 0;font-size:30px;i{font-style:normal;font-size:20px;}}
            .btn{
                width:95px;
                height:50px;
                position:absolute;
                right:5px;
                bottom:30px;
                color:white;
                background-color:#EF4238;
                border:none;
                border-radius:3px;
                font-size:25px;
            }
        }
    }
}
#name{
    width:100px;
    height:100px;
    border:1px solid #ccc;
    border-radius:50%;
    position:fixed;
    bottom:50px;
    right:20px;
    background-color:white;
    line-height:100px;
    text-align:center;
    color:#EF4238;
}